@media print {
    .screen_only {
        display: none;
    }
}

@media (max-width: 640px) {
    body {
        background-color:grey;
    }

}

@media (min-width: 641px) and (max-width:768px) {
    body {
        background-color:white;
        color: black;
    }
}

@media (min-width: 769px){
    body{
        background-color:black;
    }
}
